# See https://help.github.com/ignore-files/ for more about ignoring files.

#temp files
*.save
*.swp

# dependencies
/node_modules

# testing
/coverage

#environment
env.development
env.production


npm-debug.log*
yarn-debug.log*
yarn-error.log*
